doctype html
html
  head
    title STEEZY Studio
    block scripts
    block style 
  body
    nav#navbar
        div#logo
        img(src="/static/images/logo.jpg", alt="logo")
        ul 
            li #[a(href="/") HOME]
            li #[a(href="/#danceStyles") STYLES]
            li #[a(href="/#plan") PRICING]
            li #[a(href="/") REVIEWS]
            li #[a(href="/contact") CONTACT US]
    block content
    footer#footer  
        | Copyright © 2021 steezystudio.com | All rights reserved